

h3{
  text-align: center;
  border-bottom:2px solid black;
  background-color: black;
  color: white;
}

.playlist-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.playlist-container > ul {
  padding: 0.1rem;
}

#audioplayer1{
  margin-top: 2.4rem;
  padding: 0.25rem 0.6rem 0rem 0.6rem;
  display: flex;
  align-content: flex-start;
}

#audioplayer2{
  margin-top: 2.4rem;
  padding: 0.25rem 0.6rem 0rem 0.6rem;
  display: flex;
  align-content: flex-start;
}

#audioplayer3{
  margin-top: 2.4rem;
  padding: 0.25rem 0.6rem 0rem 0.6rem;
  display: flex;
  align-content: flex-start;
}

#audioplayer4{
  margin-top: 2.4rem;
  padding: 0.25rem 0.6rem 0rem 0.6rem;
  display: flex;
  align-content: flex-start;
}

.audioplayer{
  padding: 0.25rem 0.6rem 0rem 0.6rem;
  display: flex;
  align-content: flex-start;
}

.rhap_container{
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid black;
  color: white !important;
}

.rhap_button-clear{
  color:rgb(0, 0, 0) !important;
}

.rhap_button-clear:active{
  outline: 0 !important;
}

.rhap_progress-container{
  display: none !important;
}

.rhap_additional-controls{
  display: none !important;
}
.rhap_volume-controls{
  display: none !important;
}
.rhap_current-time{
  display: none !important;
}

.rhap_total-time{
  display: none !important;
}

.rhap_controls-section{
  font-size: 5.5vw;
  min-width: 80vw;
  height: 10vw;
  font-style: italic;
  margin: 4px 0 0 0 !important;
  padding: 0 !important;
}





#playlist-btn{
  margin: .8rem 1rem 0rem 0rem;
  height: 7vh;
  width: 7vh;
  border-radius: 7%;
  font-size: 5vh;
  position: fixed;
  right: 0;
  top: 1.7rem;
  border: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.618)

}

#playlist-btn2{
  margin: .8rem 1rem 0rem 0rem;
  height: 7vh;
  width: 7vh;
  border-radius: 7%;
  font-size: 5vh;
  position: fixed;
  right: 0;
  top: 1.7rem;
  border: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.618)

}

#playlist-btn3{
  margin: .8rem 1rem 0rem 0rem;
  height: 7vh;
  width: 7vh;
  border-radius: 7%;
  font-size: 5vh;
  position: fixed;
  right: 0;
  top: 1.7rem;
  border: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.72)

}

#playlist-btn4{
  margin: .8rem 1rem 0rem 0rem;
  height: 7vh;
  width: 7vh;
  border-radius: 7%;
  font-size: 5vh;
  position: fixed;
  right: 0;
  top: 1.7rem;
  border: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.618)


}

#playlist-btn:hover{
  transform: scale(1.05); 
  background-image: url(./images/Juiceabstract.jpg);
  background-size: cover;

}

#playlist-btn2:hover{
  transform: scale(1.05); 
  background-image: url(./images/Juiceabstract.jpg);
  background-size: cover;
}

#playlist-btn3:hover{
  transform: scale(1.05); 
  background-image: url(./images/Juiceabstract.jpg);
  background-size: cover;


}

#playlist-btn4:hover{
  transform: scale(1.05); 
  background-image: url(./images/Juiceabstract.jpg);
  background-size: cover;

}

.playlist-btn:hover{
  box-shadow: 0 12px 16px 0 rgb(0, 0, 0),0 17px 50px 0 rgba(204, 191, 191, 0.842);
  transform: scale(1.02);
}
.playlist-btn:active{
  transform: scale(0.98); 
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  height: 47.5vh;
  width: 600px;
  margin: 0.25rem 0rem 0rem 0rem;
  background-color: rgb(63, 63, 63);
  border-radius: 5%;
  border: 1px solid black;
}

.btn:hover{
  box-shadow: 0 12px 16px 0 rgb(0, 0, 0),0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.02);
}

.btn:active{
  transform: scale(0.98); 
}

.album-cover-1{
  background: url(./images/Juice1.jpg);
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.905);
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.album-cover-2{
  background: url(./images/Juice2.jpg);
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.926);
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.album-cover-3{
  background: url(./images/Juice3.jpg);
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.878);
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.album-cover-4{
  background: url(./images/Juice4.jpg);
  background-size: contain;
  background-position: center;
  color: rgba(255, 255, 255, 0.905);
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.addnewalbum{
  background-color: rgba(173, 172, 172, 0.691);
  font-size: 8rem;
}
.addnewalbum:hover{
  background-color:rgb(165, 165, 165)
}

.active{
  font-size: 5rem;
}

.showplaylist1
{
  padding-top: 5%;
  position: absolute;
  width: 100vw;
  height: 666vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(./images/chillbg.jpg);
  z-index: 2; 
  font-size: 3rem;
}

.showplaylist2
{
  padding-top: 5%;
  position: absolute;
  width: 100%;
  height: 666vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(./images/sadbg.jpg);
  z-index: 2; 
  font-size: 3rem;
}

.showplaylist3
{
  padding-top: 5%;
  position: absolute;
  width: 100%;
  top: 27px;
  height: 666vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(./images/firebg.jpg);
  z-index: 2; 
  font-size: 3rem;
}

.showplaylist4
{
  top: 0;
  padding-top: 5%;
  position: absolute;
  top: 27px;
  width: 100%;
  height: 666vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(./images/freestylebg.jpg);
  z-index: 2; 
  font-size: 3rem;
}


.hide{
  display: none;
}



div > li{
  list-style: none;
}

